html,body{
width: 100%;
height: 100%;

}
.body{
    width: 100%;
height: 100%;
background-color: rgb(31, 12, 12);

}
.panel-heading{
    height: 40px;
    text-align: center;
    line-height: 40px;
}
.panel{
    margin-top: 200px;
    
}